#tabs
  %ul
    - collections.each do |c|
      %li.coll_tab
        %a{:href => "#coll#{c.id}"}
          = c.name.capitalize
        .count
          = "(#{c.photos.count})"
        %button{:id => "dcoll#{c.id}"} X
    %li
      %a{:href => "#coll0"}
        None
  - collections.each do |c|
    %div{:id => "coll#{c.id}"}
      %ul{:id => "sortable#{c.id}", :class => "connSort ui-helper-reset"}
        - c.collection_photos.sort_by { |cp| cp.ordr }.each do |cp|
          %li{:class => "photo_item ui-state-default"}
            .photo
              %img{:src => cp.photo.image.versions[:thumb].url}
            .name
              %a{:href => "/admin/photo/#{cp.photo.id}"}
                = "(#{cp.photo.name})"
            .delete
              %button{:id => "dphoto#{cp.photo.id}"} X
  %div{:id => "coll0"}
    %ul{:id => "sortable0", :class => "connSort ui-helper-reset"}
      - Photo.all.select { |p| p.collections.count == 0 }.each do |p|
        %li{:class => "photo_item ui-state-default"}
          .photo
            %img{:src => p.image.versions[:thumb].url}
          .name
            %a{:href => "/admin/photo/#{p.id}"}
              = "(#{p.name})"
          .delete
            %button{:id => "dphoto#{p.id}"} X
  %br.clear

%button{:id => "gallery_save"}
  Save
