%h3
  Menu
  - if !id.nil?
    Edit
%form{:id => 'menu_form', :action => "/admin/menu", :method => "post"}
  - if !id.nil?
    %input{:type => "hidden", :name => "id", :value => id}
  %p
    %label{:for => "name"}
      Name
    %input{:type => "text", :name => "name", :value => "#{name ? name : ""}"}
  %p
    %label{:for => "default_page_id"}
      Default page
    %select{:id => "page_select", :name => "default_page_id"}
      = page_select(id)
  %p
    Arrange the menus!
  #entry_menus
    %ul#ems_sortable
      - if defined? entry_menus
        - entry_menus.sort_by { |em| em.ordr }.each do |em|
          %li{:class => "ui-state-default", :id => "ordr_#{em.entry_id}"}
            %span{:class => "ui-icon ui-icon-arrowthick-2-n-s"}
            = em.title
            = "(#{em.entry.title})"
          
  %p
    %input{:type => "submit", :value => "Save"}
