!!! XML
!!!
%html
  %head
    = haml :head
  %body
    .container
      %div{:id => "header", :class => "span-24 round"}
        #estonian_flag
          %a{:id => "flag_ee", :href => "#"}
            %img{:width => "28", :src => "/images/ee_flag.gif"}
        #english_flag
          %a{:id => "flag_en", :href => "#"}
            %img{:width => "28", :src => "/images/en_flag.gif"}
        #search
          = haml :search
        #menu
          - if admin_page?
            = haml :"admin/options"
          - else
            = haml :options
        %br.clear
      %br.clear
      %br.clear
      %div{:id => "subheader", :class => "span-24 round"}
        #breadcrumbs.round
          - unless admin_page?
            = haml :breadcrumbs
        #login.round
          - if get_member
            = "Tere, #{get_member.username}"
            %a{:href => '/member/logout'} (logout)
          - else
            %a{:href => '/member/signup'} Signup
            %a{:href => '/member/login'} Login
      %br.clear
      %br.clear
      %br.clear
      %br.clear
      %br.clear
      %br.clear
          
      %div{:id => "necropolis", :class => "span-24"}
        - if gallery_page? || admin_page?
          %div{:class => "span-23"}
            .hlavni
              #flash
                = haml :flash
              #content
                = yield
        - else
          %div{:class => "span-13 left"}
            %div{:class => "hlavni nopad"}
              = haml :top_left
            %div{:class => "span-6 left"}
              .hlavni
                - if get_member
                  = "Logged in: #{get_member.username}"
                  %br
                  %a{:href => '/member/logout'}
                    logout
              .hlavni
                - if get_member
                  = "Logged in: #{get_member.username}"
                  %br
                  %a{:href => '/member/logout'}
                    logout
            %div{:class => "span-6 right last"}
              .hlavni
                - if get_member
                  = "Logged in: #{get_member.username}"
                  %br
                  %a{:href => '/member/logout'}
                    logout
              .hlavni
                - if get_member
                  = "Logged in: #{get_member.username}"
                  %br
                  %a{:href => '/member/logout'}
                    logout                    
          %div{:class => "span-10 right last"}
            .hlavni
              #flash
                = haml :flash
              #content
                = yield
            %div{:id => "twitter", :class => "hlavni"}
              = haml :twitter
              
        %br.clear
        %div{:id => "footer", :class => "span-4"}
          = haml :footer
