!!! XML
!!!
%html
  %head
    = haml :head
  %body
    .container
      %div{:id => "header", :class => "span-24 round"}
        #estonian_flag
          %a{:id => "flag_ee", :href => "#"}
            %img{:width => "28", :src => "/images/ee_flag.gif"}
        #english_flag
          %a{:id => "flag_en", :href => "#"}
            %img{:width => "28", :src => "/images/en_flag.gif"}
        #search
          = haml :search
        #menu
          - if admin_page?
            = haml :"admin/options"
          - else
            = haml :options
        #breadcrumbs.round
          - unless admin_page?
            = haml :breadcrumbs
        %br.clear

      %br.clear
      %br.clear
      %br.clear
      %br.clear
      %br.clear
      %br.clear
          
      %div{:id => "necropolis", :class => "span-24"}
        - if gallery_page?
          %div{:id => "hlavni", :class => "span-20"}
            #flash
              = haml :flash
            #content
              = yield
        - else
          %div{:id => "left", :class => "span-15"}
            %div{:id => "sidebar"}
              - if get_member
                = "Logged in: #{get_member.username}"
                %br
                %a{:href => '/member/logout'}
                  logout
          %div{:id => "right", :class => "span-8"}
            %div{:id => "hlavni"}
              #flash
                = haml :flash
              #content
                = yield
              
      %br.clear
      %br.clear
      #page_footer.round
        #email_etc
          lutreola@lutreola.ee
